body{
    background-color: #1A1A1d;
    opacity: 1;
    font-family: 'Rakkas';
}

.marker-status{
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 2px #c3073f;
}

.heading{
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px #c3073f;
}

#gameBoardDOM{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.cells{
    padding: 75px;
    display: grid;
    margin-top: -80px;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.cell-button{
    font-family: 'Rakkas';
    background-color: #1A1A1D;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-color: #c3073f;
    border-width: 2px;
    border-style: solid;
}

button[id='0']{
    border-left: none;
    border-top: none;
}

button[id='1']{
    border-top: none;
}

button[id='2']{
    border-top: none;
    border-right: none;
}

button[id='3']{
    border-left: none;    
}

button[id='5']{
    border-right: none;
}

button[id='6']{
    border-bottom: none;
    border-left: none;
}

button[id='7']{
    border-bottom: none;
}

button[id='8']{
    border-bottom: none;
    border-right: none;
}

.markers{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.marker-button{
    font-family: 'Rakkas';
    padding: 10px 20px 10px 20px;
    margin: -50px 10px 0px 10px;
    font-size: 20px;
    color: white;
    background-color: #1A1A1D;
    border-color: #c3073f;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    
}

.reset-button{
    font-family: 'Rakkas';
    color: white;
    background-color: #1A1A1D;
    border: #c3073f;
    font-size: 24px;
    margin-top: -40px;
    padding: 5px 15px;
    border-radius: 10px;
    border-style: solid;
}

.reset-button:hover{
    box-shadow: 1px 5px 5px #950740;
}

.marker-button:hover{
    box-shadow: 1px 5px 5px #950740;
}