body{
    background-color: #1A1A1d;
    opacity: 1;
    font-family: 'Rakkas';
}

.marker-status{
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 2px #c3073f;
}

.heading{
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px #c3073f;
}

#gameBoardDOM{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.cells{
    padding: 75px;
    display: grid;
    margin-top: -80px;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.cell-button{
    font-family: 'Rakkas';
    background-color: #1A1A1D;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
    font-size: 24px;
    border-color: #c3073f;
    border-width: 2px;
    border-style: solid;
}

.cell-button:hover{
    box-shadow: 1px 5px 5px #950740;
}

.cell-button:active{
    background-color: #c3073f;
}

.markers{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.marker-button{
    font-family: 'Rakkas';
    padding: 10px 20px 10px 20px;
    margin: -50px 10px 0px 10px;
    font-size: 20px;
    color: white;
    background-color: #1A1A1D;
    border-color: #c3073f;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    
}

.reset-button{
    font-family: 'Rakkas';
    color: white;
    background-color: #1A1A1D;
    border: #c3073f;
    font-size: 24px;
    margin-top: -50px;
    padding: 5px 15px;
    border-radius: 10px;
    border-style: solid;
}

.reset-button:hover{
    box-shadow: 1px 5px 5px #950740;
}

.reset-button:active{
    background-color: #c3073f;
}

.marker-button:hover{
    box-shadow: 1px 5px 5px #950740;
}

.marker-button:active{
    background-color: #c3073f;
}

.resultPopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    max-width: 70%;
    min-width: 200px;
    transition: 200ms ease-in-out;
    border: 1px solid #950740;
    background-color: #1A1A1d;
    color: white;
    border-radius: 10px;
    z-index: 10;
}

.popupHeader{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #950740;
}

.popupHeader .popupTitle{
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #c3073f;
}

.popupHeader .closeButton{
    background: none;
    border: none;
    cursor: pointer;
    appearance: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.popupBody{
    padding: 10px;
}

#overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    opacity: 0%;
    background-color: rgba(0,0,0, 0.65);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.resultPopup.active{
    transform: translate(-50%, -50%) scale(1);
}