#gameBoardDOM{
    padding-top: 100px;
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.markers{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.marker-button{
    padding: 10px 20px 10px 20px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
}

.marker-button:hover{
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
}